* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: orange;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}


/* NAVBAR */
nav {
	background-color: orange;
	color: white;
	padding: 25px;
}

.fa-adjust:before {
	padding-right: 2px;
}
	
.logo {
	margin: 20px;
	width: auto;
	float: left;
}

.main-nav {
	float: right;
	list-style: none;
	margin: 30px;
}


.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav a {
	color: white;
	text-decoration: none;
}


 /* SEARCHBAR */
.search-bar {
	float: right;
	margin-right: 5%;
	margin-top: 15px;
	border: 1px solid lightgrey;
}

.search-bar input {
	background-color: light;
	padding: 20px;
	width: 300px
}

/* MAIN SECTION */
.main-section { padding: 7%; }

.hero-image {
	background-image: url(img/orange.jpg);
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
}

.hero-text-box {
	width: 110%;
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
}

h1 { font-weight: 100; }


/* FOOTER */
footer {
	background-color: lightblue;
	height: 120px;
	width: 100%;
	text-align: center
}

footer h2 {
	padding-top: 40px;
	color: white;
	font-weight: 100;
}


/* TEXT */
.orange { font-weight: bold; }

.web,
.app { color: lightblue; }

.juice { font-weight: 100; }


/* BUTTONS */
.btn {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 8px;
	padding: 25px;
	color: white;
	text-align: center
}

.btn-1 {
	background-color: orange;
	width: 220px;
	}

.btn-2 {
	background-color: lightblue;
	margin-left: 25px;
}











