* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	color: orange;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 25px;
	text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}


/* -- Add for black border -- */
/*

body {
	background-color: black;
}

.wrapper {
	background-color: white;
	margin: 1% auto;
	width: 98%;
}
*/



/* ---- NAVBAR --- */
nav {
	background-color: orange;
	color: white;
	padding: 25px;
}

.fa-adjust:before {
	padding-right: 2px;
}
	
.logo {
	margin: 20px;
	width: auto;
	float: left;
}

.main-nav {
	float: right;
	list-style: none;
	margin: 30px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav a {
	color: white;
	text-decoration: none;
}


 /* --- SEARCHBAR --- */
.search-bar {
	float: right;
	margin-right: 5%;
	margin-top: 15px;
	border: 1px solid lightgrey;
}

.search-bar input {
	padding: 20px;
	width: 300px
}

.search-query {
	border:1px solid lightblue;
	
}
.search-query:hover,
.search-query:active,
.search-query:visited {
	border: 1px solid lightblue;
	background-color: whitesmoke;
}

/* --- MAIN SECTION --- */
.main-section { padding: 4%; }

.hero-image {
	background-image: url(img/orange.jpg);
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
}

.hero-text-box {
	width: 110%;
	margin: 0 auto;
	padding: 10px;
	font-size: 24px;
}

h1 { font-weight: 100; }

.span-1-of-2 { width: 50%; }
.span-2-of-2 { width: 50%; }


/* --- FOOTER --- */
footer {
	background-color: lightblue;
	height: 130px;
	width: 100%;
	text-align: center
}

footer h2 {
	padding-top: 35px;
	color: white;
	font-weight: 100;
}


/* --- TEXT --- */
.orange { font-weight: bold; }

.web,
.app { color: lightblue; }

.juice { font-weight: 100; }


/* --- BUTTONS --- */
.btn {
	background-color: orange;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 8px;
	padding: 15px;
	color: white;
}

#button-row { margin: 0 16px; }

.btn-1 {
	width: 50px;
	padding-left: 40px;
	padding-right: 40px;
}

.btn-2 {
	background-color: lightblue;
	margin-left: 35px;
}

.btn:link,
.btn:visited {
	border: 2px solid transparent;
	-webkit-transition: border-bottom 0.2s, color 0.2s; 
	transition: border-bottom 0.2s, color 0.2s; 
}/*state in rest*/

.btn-1:hover,
.btn-1:active {
    text-decoration: none;
	background-color: darkorange;
	border-bottom: 5px solid darkorange;
	box-shadow: 5px 10px 8px darkgrey;
	text-shadow: 2px 2px 4px darkgrey;
}

.btn-2:hover,
.btn-2:active {
	background-color: cornflowerblue;
	font-weight: 400;
	border-bottom: 5px solid cornflowerblue;
	box-shadow: 5px 10px 8px darkgrey;
	text-shadow: 2px 2px 4px darkgrey;
}


/* --- LINKS --- */
.links:link,
.links:visited { 
	border-bottom: 2px solid transparent;
	-webkit-transition: border-bottom 0.2s, color 0.2s; 
	transition: border-bottom 0.2s, color 0.2s; 
}/*state in rest */

.links:hover,
.link:active {
    text-decoration: none;
	font-size: 1.1em;
	font-weight: 400;
	padding-bottom: 10px;
    border-bottom: 3px solid white;	
}
